*{
    box-sizing: content-box;
    background-image: url(pequeña.jpg);
    background-repeat:repeat;
    border:50px;    

}

.parrafo{
   color: white;
    border:solid 30px;
    background: white;
    border-color: white;
    
    
}

h1{
    text-align: center;
    color: blue;
    background:#ff4d4d;
    height:50px;
    
}


   
p{
    color:white;
background:#ff4d4d;  
}


.contenedor{
    position: absolute;
     border:solid 30px;
    border-color:#2271b3;
background:#ff4d4d;
    text-align: center;
    width: 900px;
    left:195px;
    font-size:20px; 
}
   
.cuerpo{
    position:absolute;
     border:solid 30px;
    border-color:#2271b3;
background:#ff4d4d;
    text-align: center;
    width: 900px;
    left:195px;
    margin-top:400px;
    font-size:20px;
}
 

.final{
    position:absolute;
     border:solid 30px;
    border-color:#2271b3;
background:#ff4d4d;
    text-align: center;
    width: 900px;
    left:195px;
    margin-top:1300px;
    font-size:90px;
    
    }
